.attachment-carousel {
    display: flex;
    flex-direction: column;
    position: relative;
}

.attachment-carousel__images {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    width: 100%;
    height: fit-content;
    align-items: flex-start;
    justify-content: flex-start;
}

.attachment-carousel__controls {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.attachment-carousel__button {
    width: 100%;
    margin: 0.5rem;
}

.attachment-carousel__image {
    width: 100%;
    min-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    transition: 1s cubic-bezier(0.4, 0.6, 0.6, 1);
    flex-shrink: 0;
}
